@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<DailyReportViewModel>
<table class="table">
    <thead>
        <tr>
            <th>Date:</th>
            <th>Income:</th>
            <th>Expense:</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Date</td>
                <td> Rs. @item.Income</td>
                <td>@item.Expense</td>
            </tr>
        }
    </tbody>
</table>
