@inject CommonUtility util
@{
    var TodayDate = util.TodayDate();
}

<div class="row">
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Earnings (Daily)
                    </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Rs. @await util.getDailySales(TodayDate)</div>
                </div>
                <a asp-action="DailyEarnings" asp-controller="Home" asp-area="Admin">
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                </a>
               
            </div>
        </div>
    </div>
</div>

<!-- Earnings (Monthly) Card Example -->
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        Earnings (Annual)
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Earnings (Monthly) Card Example -->
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                        Products
                    </div>
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                    @await util.TotalProducts() Products <br />
                                    @await util.TotalCategories() Categories
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pending Requests Card Example -->
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                        Pending Requests
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>
                    </div>

<!-- Content Row -->

<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>

                <div class="dropdown no-arrow">
                    <span class="dropdown-toggle" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </span>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                         aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <button class="dropdown-item ">Update Daily Records</button>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item" >Update Daily Records</button>
                    </div>
                </div>
            </div>
          
            <!-- Card Body -->

            <div class="card-body">
                <div>
                    <canvas id="myChart"></canvas>
                </div>

                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

                <script type="text/javascript">
                    $(document).ready(function(){
                        $.ajax({
                            type: "Post",
                            url: "@Url.Action("GetSalesData","Home")",
                            data: "",
                            contentType: "application/json; charset-utf8",
                            dataType: "json",
                            success: OnSuccess,
                        });
                        function OnSuccess(data){
                            const barChart = document.getElementById("myChart");
                            var _data= data;
                            var _labels=_data[0];
                            var _CharData = _data[1];
                            var colors = ["#86C5D8", "#86C5D8", "#86C5D8"];
                            new Chart(barChart,
                            {
                                type: 'line',
                                data: {
                                    labels: _labels,
                                    datasets: [{
                                        //line graph
                                            fill: false,
                                            data: _CharData,
                                            borderColor: 'rgb(75, 192, 192)',
                                            tension: 0.1
                                            //bar graph
                                        // backgroundColor: colors,
                                        // data: _CharData,
                                        // borderWidth: 1,
                                    }]
                                }
                            });
                        }
                    })
                </script>

            </div>

        </div>
    </div>

    <!-- Best Sellers Section -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Best Sellers</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                         aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                      
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ProductName</th>
                            <th>Price:</th>
                            <th>Total Sales</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var results = await util.bestSellers();
                            foreach (var item in results)
                            {
                                <tr>
                                     <td>@item.BrandName</td>
                                     <td>@item.Price</td>
                                     <td>@item.TotalSales</td>
                                </tr>
                            }
                        }
                    </tbody>
                   
                </table>
                
                </div>
            </div>
        </div>
    </div>



